.idea
.vs
.vscode/settings.json
.vscode/c_cpp_properties.json
build
out
cmake-build-*
tmp
BingyServer/.vs
BingyServer/x64
BingyServer/Debug
*.user
BingyServer/BingyServer/Debug
BingyServer/BingyServer/x64